{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>PriceSurfer-About</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<section class="about" style="padding-top: 20px;">

    <div class="flex">

        <div class="image">
            <img src="{% static 'images/why1.jpg' %}" alt="">
        </div>

        <div class="content1">
            <h3>why choose us?</h3>
            <p>We provide a comprehensive price comparison platform that helps you make smarter purchasing decisions. Our service aggregates data from various e-commerce platforms, ensuring you get real-time price updates and the most accurate information available</p>
        </div>

    </div>

    <div class="flex">

        <div class="content1">
            <h3>what we provide?</h3>
            <p> With our search filters, you can easily find products according to your preferences.You can compare products, analyze price trends, and make purchasing decisions without hassle. </p>
        
        </div>

        <div class="image">
            <img src="{% static 'images/what.jpg' %}" alt="" >
        </div>

    </div>

    <div class="flex">

        <div class="image">
            <img src="{% static 'images/who1.jpg' %}" alt="">
        </div>

        <div class="content1">
            <h3>who we are?</h3>
            <p>We are a dedicated team of passionate individuals committed to revolutionizing the way you shop online. With a focus on transparency, efficiency, and ease of use, we provide an innovative platform designed to help shoppers find the best prices across a wide range of e-commerce sites.</p>
            
        </div>

    </div>

</section>

</body>
</html>